/* Container geral da página */
.agendados-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
}

/* Cabeçalho da página */
.agendados-header {
  background-color: #0053a0;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.agendados-header h1 {
  font-size: 20px;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.back-button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Lista de agendamentos */
.agendados-list {
  list-style: none;
  padding: 20px;
  margin: 0;
  overflow-y: auto;
  flex-grow: 1;
}

.agendamento-item {
  background-color: white;
  border: 1px solid #0053a0;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.agendamento-item p {
  margin: 0;
  color: #333;
}

.agendamento-item p strong {
  font-size: 16px;
  color: #0053a0;
}

/* Botão de registrar ponto */
.registrar-ponto-button {
  background-color: #0053a0;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.3s ease;
}

.registrar-ponto-button:hover {
  background-color: #003d7c;
}

/* Mensagem de falta de agendamentos */
.no-agendamentos {
  text-align: center;
  color: #888;
  font-size: 16px;
  padding: 20px;
}

/* Barra de navegação inferior */
.bottom-navbar {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ccc;
}

.bottom-navbar .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bottom-navbar .nav-item .icon {
  font-size: 24px;
  margin-bottom: 5px;
}

.bottom-navbar .nav-item p {
  font-size: 12px;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.porto-registro-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.porto-registro-button:hover {
  background-color: #0056b3;
}
